<!DOCTYPE html>
<html>
<head>
  <title>Real time with nodejs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
  <span id="notification"></span>
</div>

<%= yield %>

</body>
</html>
